---
import CardImage0 from "@/assets/images-cards/card_0.svg";
import CardImage01 from "@/assets/images-cards/card_01.png";
import CardImage02 from "@/assets/images-cards/card_02.png";
import CardImage03 from "@/assets/images-cards/card_03.svg";
import CardImage04 from "@/assets/images-cards/card_04.svg";
import {
  Card,
  CardContent,
  CardFooter,
  CardHeader,
} from "@/components/ui/card";
import { Image } from "astro:assets";
---

<section class="w-[90%] mx-auto">
  <h2>Explore endless possibilities.</h2>
  <div class="grid grid-cols-3 grid-rows-[repeat(3,330px)] gap-8">
    <!-- Customization Card -->
    <Card className="bg-[#C3B2E7] text-[#52225E] font-bold group row-span-2 flex flex-col gap-4 justify-between">
      <CardHeader className="text-3xl">Customization</CardHeader> 
      <CardContent>
        <Image
          src={CardImage01}
          alt="Card Image"
          class="w-full group-hover:scale-110 group-hover:-rotate-2 transition-transform duration-300"
          width={1000}
          height={1000}
        />
        <Card className="-ml-14 overflow-hidden">
          <CardContent className="overflow-hidden gap-4 p-0">
            <Image
              src={CardImage0}
              alt="Card Image"
              class="w-[180%] max-w-none p-2 group-hover:-translate-x-80 transition-transform duration-300"
            />
          </CardContent>
        </Card>
      </CardContent>

      <CardFooter className="font-semibold w-5/6 flex items-end">
        Use a pre-designed template or personalize with video, stickers, fonts,
        and more
      </CardFooter>
    </Card>
    <!-- Scheduling Card -->
    <Card className="bg-[#F682A5] col-start-2 col-end-4 row-span-1 group">
      <CardContent className="flex h-full text-[#52225E] font-bold ">
        <div class="self-end space-y-4">
          <h2 class="text-3xl">Scheduling</h2>
          <p>Schedule all your cards and gifts now and we’ll send them later</p>
        </div>
        <Image
          src={CardImage02}
          alt="Card Image"
          class="object-contain -mt-20 group-hover:scale-110 group-hover:-rotate-2 transition-transform duration-300"
        />
      </CardContent>
    </Card>
    <!-- Wallet Card -->
    <Card className="bg-[#CADA8F] flex items-end relative">
      <CardHeader className="-mt-12 p-0 absolute top-0 left-0 w-full">
        <Image src={CardImage03} alt="Card Image" class="w-80 mx-auto object-contain" />
      </CardHeader>
      <CardContent className="text-[#1C471F]">
        <h2 class="text-3xl">Wallet</h2>
        <p>Access all your gifts and save up your Givingli Cash</p>
      </CardContent>
      <CardFooter />
    </Card>
    <!-- Scheduling Card -->
    <Card className="relative bg-[#FEDF6F] text-[#4A411E]">
      <CardHeader>
        <h2 class="text-3xl font-bold">Inbox</h2>
        <p class="font-semibold">Track your gifts, group chats, and sent cards</p>
      </CardHeader>
      <CardContent className="absolute bottom-0 p-0 w-full">
        <Image src={CardImage04} alt="Card Image" class="mx-auto w-full" />
      </CardContent>
    </Card>
  </div>
</section>
